.container{
    background-color: rgb(50, 177, 209);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    display: flex;
    justify-content: space-around;
    width: 900px;
    list-style: none;
    padding: 0;
}

.decor{
    text-decoration: none;
    color: black;
    padding: 19px; 
    font-size: large;
    color: rgb(255, 255, 255);
}
.decor:hover {
    color: #2bff00; 
}